<div ng-controller="QuestionController">
    <div class="quest">
        <h3>{{question.text}}</h3>
        <p>{{question.author}} </p> <p><i>{{question.date}}</i></p>
    </div>
</div>
<div>
    <form name="answerForm">
            <p><label for="answerText">Текст1</label>
                <input id="answerText" ng-model="answer.text" required placeholder="Текст" /></p>
            <p><label for="answerAuthor">Текст2</label>
                <input id="answerAuthor" ng-model="answer.author" required placeholder="Текст" /></p>
        <button type="submit" ng-click="save(answer, answerForm)">Сохранить </button>
        <br>
        <b>{{answer.text}}</b>
        <p>{{answer.author}}</p>

    </form>
</div>